/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1024px) {
  .primary-text-style {
    font-size: 15px;
  }

  .registration-section {
    width: 820px;
    min-height: 700px;
    top: 15%;
  }

  .registration__progress {
    margin-bottom: 45px;
  }

  .progress__text {
    line-height: 22px;
    letter-spacing: 0.8px;
    font-size: 19px;
  }

  .progress-bar {
    width: 650px;
    height: 28px;
    margin-bottom: 14px;
  }

  .progress__desc {
    font-size: 17px;
    right: 42%;
    top: 18%;
  }

  .progress-line {
    width: 490px;
    height: 28px;

    &::before {
      width: 490px;
      height: 28px;
    }
  }

  .registration__content {
    width: 651px;
    margin: 81px auto 50px;
  }

  .registration__form {
    margin-bottom: 41px;
  }

  .registration__btn {
    padding: 24px 167px;
    font-size: 16px;
  }

  .form-text {
    font-size: 20px;
    line-height: 26px;
  }

  .text__marked {
    font-size: 17px;
  }

  .form-text:last-of-type {
    margin-bottom: 59px;
  }

  .name-field {
    margin-bottom: 10px;
  }

  .email-field {
    margin-bottom: 10px;
    line-height: 19px;
  }

  .phone-input {
    position: absolute;
    width: 90%;
  }

  input {
    position: absolute;
    margin-left: 5px;
  }

  input::placeholder {
    font-size: 16px;
    opacity: 1;
  }

  input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 3;
  }

  .registration__safety {
    font-size: 17px;
  }
}
