$primary-light-color: #ffffff;
$primary-text-color: #000000;
$placeholder-text-color: #cccccc;
$secondary-text-color: #666;
$marked-text-color: #ff8d52;

$primary-font-stack: "Montserrat", sans-serif;
