.background {
  background-image: url("../images/first-screen/first-screen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1080px;
  position: relative;
}

.primary-text-style {
  font-family: $primary-font-stack;
  font-size: 12px;
  color: $primary-text-color;
}

.registration-section {
  width: 310px;
  height: 543px;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%);
  background-color: $primary-light-color;
  border-radius: 8px;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url("../images/close-button.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    top: 1%;
    right: 1%;
  }
}

.registration__form {
  margin-bottom: 27px;
}

.registration__content {
  width: 300px;
  margin: 36px auto 50px;
  overflow: hidden;
  position: relative;
}

.registration__progress {
  margin-bottom: 24px;
}

.progress-bar {
  width: 279px;
  height: 13px;
  margin-bottom: 12px;
  background-color: #ebebeb;
  background-image: linear-gradient(
    180deg,
    rgba(215, 215, 215, 0.12) 0%,
    rgba(255, 255, 255, 0.12) 100%
  );
  box-shadow: inset 0 3px 4.9px 0.1px rgba(0, 0, 0, 0.06);
  position: relative;
}

.progress-line {
  position: absolute;
  left: 0;
  width: 223px;
  height: 13px;
  background-color: #bad3ff;
  background-image: linear-gradient(270deg, #6ea3ff 0%, transparent 100%);
  box-shadow: 0 8px 12px rgba(125, 173, 255, 0.28);

  &::before {
    content: "";
    display: inline-block;
    background-image: url("../images/progress-bar/bars.png");
    opacity: 0.3;
    width: 220px;
    height: 13px;
  }
}

.progress__desc {
  @extend .primary-text-style;
  font-weight: 500;
  font-size: 6px;
  position: absolute;
  right: 42%;
  top: 27%;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
  color: $primary-light-color;
  letter-spacing: 1.68px;
  cursor: default;
}

.progress__text {
  @extend .primary-text-style;
  font-size: 12px;
  color: $secondary-text-color;
  letter-spacing: 0.2px;
  line-height: 18px;
  cursor: default;
}

.form-text {
  @extend .primary-text-style;
  font-size: 12px;
  line-height: 19px;
  font-weight: 500;
  cursor: default;
}

.name-field {
  margin-bottom: 0px;
}

.email-field {
  margin-bottom: 0px;
  line-height: 14px;
}

.text__marked {
  @extend .primary-text-style;
  color: $marked-text-color;
  font-weight: 700;
}

input {
  border: none;
  width: 98%;
  background-color: transparent;
  border-bottom: 1px solid $marked-text-color;
  margin-top: 0px;
  margin-left: 5px;
  padding-bottom: 2px;
}

.phone-input {
  position: absolute;
  width: 56%;
}

input:focus {
  outline: none;
}

input::placeholder {
  @extend .primary-text-style;
  font-size: 15px;
  color: $placeholder-text-color;
  padding-left: 22px;
  opacity: 0;
}

.form-text:last-of-type {
  margin-bottom: 38px;
}

.registration__btn {
  @extend .primary-text-style;
  margin: 0 auto;
  padding: 17px 24px 16px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0px;
  color: $primary-light-color;
  background-color: #feaa54;
  background-image: linear-gradient(
    to left,
    #ff8751 0%,
    #fe9f53 69%,
    rgba(254, 170, 84, 0) 100%
  );
  box-shadow: 0 17px 27px rgba(254, 170, 84, 0.28);
  border-radius: 6px;
  cursor: pointer;
}

.text-wrapper {
  text-align: center;
}

.registration__safety {
  @extend .primary-text-style;
  color: $placeholder-text-color;
  background-image: url("../images/lock.png");
  padding-left: 25px;
  background-repeat: no-repeat;
}
